
body{
    background-color: #2b2d42;
}
.container{
    background-color: #4a4e69;
    border-radius: 10px;
    color: #edf2f4;
    width: 400px;
    height: 450px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    
}

.top-head{
    background-color: #8d99ae;
    grid-column: 1 / span 12;
    grid-row: 1 / span 10;
    margin-bottom: 5px;
    color: #edf2f4;
    border-radius: 15px;

}
.top{
    grid-column: 1 / span 9;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 60px;
    text-align: center;
    margin-bottom: 2px;
    grid-gap: 2px;
    



}
.main {
    grid-column: 1 / span 9;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 60px 60px 60px 60px;
    text-align: center;
    grid-gap: 2px;
}
.aside{
    grid-column: 10 / span 12;
    grid-row: 11 / span 12;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 60px 60px 60px;
    text-align: center;
    grid-gap: 2px;
    margin-left: 2px;
    
    
}

#display, #history{
    font-size: 25px;
    padding-right: 15px;
    box-sizing: border-box;

}
#history{
    color: rgb(73, 71, 71);
}
#display{
    padding-top: 20px;
}
.top-blue{
    background-color: #d62828;
    color: #edf2f4;
}
.main-green{
    background-color: #003049;
    color: #edf2f4;
}

.side-orange{
    background-color: #e67e30;
    color: #edf2f4;
}
.down-green{
    background-color: #003049;
    color: #edf2f4;
}
.screen{
    background-color: #8d99ae;
    font-size: 13px;
    text-align: right;
    padding-top: 0px;
    font-weight: bolder;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 15px;
    
}

.main-green, .top-blue, .side-orange, .down-green{
    font-size: 1.5rem;
    text-align: center;
    padding-top: 10px;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 15px;
}
.btn0{
    grid-column: 1 / span 2;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 15px;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 15px;
}


.head{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8d99ae;
}
strong{
    color: #e63946;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}